
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Libre+Baskerville&family=Playfair+Display&family=Rubik+Doodle+Shadow&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #4e54c8 , #8f94fb);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;

}

#container{
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 40px 50px;
    border: 1px solid #c4c6ee;
    box-shadow: 2px 3px 20px rgba(16, 16, 16, 0.384);
    animation: zoominout 1s infinite alternate;

}


@keyframes zoominout{
    0%{
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.822);
    }
    50%{
       box-shadow: 0px 0px 30px #0f113c,
           0px 0px 40px #4149e0,
           0px 0px 58px #3a44ff;
    }
   
   }

#container h1{
    font-weight: bold;
    text-align: center;
    margin-bottom: 36px;
    font-family: "Bangers", system-ui;
    color: #333;
    letter-spacing: 4px;
}


.inputBox{
  position: relative;
  margin-bottom: 6px;
}


.inputBox span{
 position: absolute;
 top: 50%;
 right: 12px;
 transform: translateY(-50%);
 color: #333;
 font-size: 23px;
 cursor: pointer;

}

.passBox{
    width: 100%;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #d5d3d3;
    color: #333;
}




input[type="range"]{
    width: 86%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.row{
    margin-bottom: 2%;
    font-size: 19px;
    color: #333;
    display: flex;
    justify-content: space-between;
    p{
        font-weight: bold;
    }

}

.row input[type="checkbox"]{
    margin-right: 8px;
    font-size: 17px;
}

#genBtn{
    align-items: center;
    justify-content: center;
    text-align: center;
    // margin-left: 30%;
    margin-top: 7%;
    width: 100%;
    padding: 10px 10px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    background-color: #8f94fb;
    color: black;
    transition: background 1s ease;
    animation: zoomin 2s infinite alternate;

    &:hover{
        background-color: #4e54c8;
        transform: 1s ;
    }
}

@keyframes zoomin{
 0%{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
 }
 50%{
    box-shadow: 0px 0px 10px #4e54c8,
        0px 0px 20px #797ff5,
        0px 0px 28px #aaade1;
 }

}

#SlideValue{
    margin-right: 2.5%;
}

.Pass-indicator {
    width: 86%;
    height: 4px;
    position: relative;
    background: #dfdfdf;
    border-radius: 2px;

}

.Pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease ;
}

.Pass-indicator.weak::before{
    width: 20%;
    background-color: red;
}


.Pass-indicator.medium::before{
    width: 50%;
    background-color: rgb(255, 204, 0);
}

.Pass-indicator.strong::before{
    width: 86%;
    background-color: rgb(0, 102, 255);
}

#IconsColor{
    float: right;
    font-size: 19px;
    // top: -50%;
    color: blue;
    cursor: pointer;

}

.letter{
    margin-bottom: 2%;
    padding: 10px;
    margin-top: -5%;
    letter-spacing: 4px;
}
.letter #smale{
    padding: 9px;
    background-color: #efebeb;
    color: black;
    font-weight: bold;
    font-size: 21px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 1s ease;
    &:hover{
        transform: 1s ease;
        background-color: #4e54c8;
    }
}
.letter #large{
    padding: 9px;
    background-color: #f0ecec;
    color: black;
    font-weight: bold;
    font-size: 21px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 1s ease;
    &:hover{
        transform: 1s ease;
        background-color: #4e54c8;
    }

}